@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto/woff/Roboto-Light.woff") format("woff"),
    url("/assets/fonts/Roboto/ttf/Roboto-Light.ttf") format("ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto/woff/Roboto-Medium.woff") format("woff"),
    url("/assets/fonts/Roboto/ttf/Roboto-Medium.ttf") format("ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto/woff/Roboto-Regular.woff") format("woff"),
    url("/assets/fonts/Roboto/ttf/Roboto-Regular.ttf") format("ttf");
  font-weight: 500;
}

* {
  font-family: "Roboto", sans-serif;
}
